:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

/* styles/globals.css */



.custom-datepicker-dropdown .ant-picker-cell {
  color: #000000 !important; /* White text for numbers */
}

.custom-datepicker-dropdown .ant-picker-cell-in-view {
  color: #000000 !important; /* Ensure visible dates are white */
}


.custom-datepicker-dropdown .ant-picker-cell-selected {
  background-color: #ffffff !important; /* Selected date highlight */
  color: #000000 !important;
}

.custom-datepicker-dropdown .ant-picker-header {
  color: #000000 !important;
}

@font-face {
  font-family: 'Kranky';
  src: url('/fonts/Kranky.ttf') format('truetype');
}

@font-face {
  font-family: 'Digitalt';
  src: url('/fonts/Digitalt.ttf') format('truetype');
}

@font-face {
  font-family: 'Koulen';
  src: url('/fonts/Koulen.ttf') format('truetype');
}

@font-face {
  font-family: 'Dhyana';
  src: url('/fonts/Dhyana-Regular.ttf') format('truetype');
}

.page-background {
  height: 100vh;
  overflow: hidden;
  background: url('/images/background_new.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-register-box {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 35px;
  padding: 40px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.69), 0 8px 20px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
}

.drawzone-logo-4rem {
  font-size: 4rem;
  margin-bottom: -0.1rem;
  color: #000;
  font-family: 'Kranky', serif;
  font-weight: normal;
  text-shadow:
    -3px -3px 0 #fff,
     3px -3px 0 #fff,
    -3px  3px 0 #fff,
     3px  3px 0 #fff,
    -3px  0px 0 #fff,
     3px  0px 0 #fff,
     0px -3px 0 #fff,
     0px  3px 0 #fff,
     0    0   3px #fff;
}

.drawzone-logo-3-7rem {
  font-size: 3.7rem;
  margin-top: 1.5rem;
  margin-bottom: -0.1rem;
  color: #000;
  font-family: 'Kranky', serif;
  font-weight: normal;
  text-shadow:
    -3px -3px 0 #fff,
     3px -3px 0 #fff,
    -3px  3px 0 #fff,
     3px  3px 0 #fff,
    -3px  0px 0 #fff,
     3px  0px 0 #fff,
     0px -3px 0 #fff,
     0px  3px 0 #fff,
     0    0   3px #fff;
}

.drawzone-subtitle-1-3rem {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fff;
  font-family: 'Digitalt', serif;
  -webkit-text-stroke: 1px black;
}

.drawzone-subtitle-1-5rem {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 4.5rem;
  color: #fff;
  font-family: 'Digitalt', serif;
  -webkit-text-stroke: 1px black;
  
}

.login-label {
  font-weight: 500;
  color: #000;
  font-size: 1.1rem;
  letter-spacing: 1.4px;
  font-family: 'Digitalt', serif;
  text-transform: uppercase;
  margin-bottom: -15px;
}

.login-input {
  height: 55px !important;
  width: 95%  !important;
  border-radius: 8px !important;
  background-color: #fff !important;
  border: 1px solid #000 !important;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.3) !important;
  color: black !important

}

.login-actions {
  margin-top: 50px;
}

.login-button {
  width: 75% !important;
  height: 52px !important;
  background-color: #CBB0FF !important;
  border-color: #7f5ac5 !important;
  font-weight: 500 !important;
  font-size: 1.8rem !important;
  letter-spacing: 1.6px !important;
  border-radius: 8px !important;
  border: 1px solid #000 !important;
  font-family: 'Digitalt', serif !important;
  color: #000 !important;
  transition: all 0.3s ease !important;
  box-shadow:
    0 0px 10px rgb(255, 255, 255, 0.4),
    0 6px 12px rgba(0, 0, 0, 0.3) !important;
  text-shadow:
     0 -1px 0 #fff,
     1px 0 0 #fff,
     0 1px 0 #fff,
    -1px 0 0 #fff,
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
     1px 1px 0 #fff,
    -1px 1px 0 #fff !important;
}

.login-button:hover {
  background-color: #dabaff !important;
  box-shadow:
    0 8px 20px rgba(127, 90, 197, 0.4),
    0 12px 12px rgba(0, 0, 0, 0.1) !important;
  transform: translateY(0px) !important;
  cursor: pointer !important;
}

.login-button:active {
  transform: translateY(1px) scale(0.98) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.login-divider {
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  font-family: 'Koulen', serif;
  color: #000;
}

.redirect-register-button {
  width: 58%  !important;
  background-color: #444  !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 0.9em !important;
  letter-spacing: 1px !important;
  border-radius: 8px !important;
  margin-top: 1.2px !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.77), 0 8px 20px rgba(255, 255, 255, 0.5) !important;
  border: 1px solid #fff !important;
}

.redirect-register-button:hover {
  background-color: #5e5e5e !important;
  transform: translateY(0px) !important;
  cursor: pointer !important;
}

.redirect-register-button:active {
  transform: translateY(1px) scale(0.99) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.home-wrapper {
  display: flex;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.left-box, .profile-box, .quickplay-box {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 35px;
  padding: 40px;
  width: 400px;
  text-align: center;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.69), 0 8px 20px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
}

.left-box {
  position: relative; /* für das Zahnradsymbol */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 516px;
}

.settings-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.settings-icon:hover {
  transform: rotate(20deg) scale(1.1);
}
.right-side {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.profile-box {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.avatar-image {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
}

.avatar-menu {
  position: absolute;
  width: 150px;
  height: 70px;
  top: 40px;
  left: 95px;
  align-items: center;
  background: white;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Pfeil links */
.avatar-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid white; /* Farbe = Hintergrund der Box */
  z-index: 11;
}

/* Umrandung des Pfeils */
.avatar-menu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -11px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.07); /* Gleiche Farbe wie Rahmen */
  z-index: 10;
}


.upload-image-btn {
  color: #146FE1;
  font-size: 17px;
  font-weight: 600;
  height: 35px;
  width: 146px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  cursor: pointer;
}
.upload-image-btn:hover{
  background-color: rgba(0, 0, 0, 0.08);
}

.delete-image-btn {
  color: #FE6544;
  font-size: 17px;
  font-weight: 600;
  height: 35px;
  width: 146px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  cursor: pointer;
}

.delete-image-btn:hover{
  background-color: rgba(0, 0, 0, 0.08);
}

.profile-username {
  background-color: rgba(0, 0, 0, 0.2)!important; 
  height: 50px!important;
  width: 50px;
  padding: 16px 18px!important;
  border-radius: 15px!important;
  font-size: 1.1rem!important;
  color: white!important;
  font-weight: bold!important;
  font-family: Arial, sans-serif!important;
  flex: 1!important;
  text-align: left!important;
}

.profile-username-edit {
  background-color: rgba(255, 255, 255, 0.918)!important; 
  height: 50px!important;
  width: 50px;
  padding: 16px 18px!important;
  border-radius: 15px!important;
  font-size: 1.1rem!important;
  color: rgb(0, 0, 0)!important;
  font-weight: bold!important;
  font-family: Arial, sans-serif!important;
  flex: 1!important;
  text-align: left!important;
}


.edit-profile-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  background-color: white;
  color: #666;
  text-align: center;
  font-family: inherit;
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.15),
    0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.edit-profile-button.hover {
  background-color: #000000;
}


.confirm-edit-profile-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1.7px solid black;
  margin-top: 0px;
  margin-bottom: 13px;
  background-color: #ff9486;
  color: #000000;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.15),
    0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.08),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

.profile-top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
  height: 87px; /* gleicht Ant Design Input-Höhe aus */
}

.logout-button {
  width: 100%;
  padding: 12px;
  height: 42px;
  background-color: #7753FC;
  color: white;
  font-weight: normal;
  font-size: 1rem;
  border: 1.5px solid black;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;

  /* Der weiße innere Rand: */
  box-shadow:
    inset 0 0 0 1px white; /* weißer Innenrand */
}

.logout-button:hover {
  background-color: #8564fc;
}


.quickplay-box {
  text-align: center;
}

.quickplay-title {
  font-family: 'Digitalt', Medium;
  font-size: 3.2rem;
  margin-top: -10px;
  margin-bottom: 10px;
  color: white;
  -webkit-text-stroke: 0.1px black;
  }

.green-button {
  font-family: 'Digitalt', Medium !important;
  font-size: 2.2rem!important;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.822)!important;
  background: linear-gradient(45deg,
    #86EE04 0%,      /* Heller Ton unten links */
    #86EE04 49.9%,
    #67EB00 50%,     /* Dunkler Ton oben rechts */
    #67EB00 100%)!important;
  
  height: 65px!important;
  color: rgb(255, 255, 255)!important;
  padding: 10px 30px!important;
  border-radius: 25px!important;
  border: 3px solid white!important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4)!important;

  box-shadow:
    inset 0 -4px 0 rgba(0, 0, 0, 0.2),
    0 5px 0 #00000023!important;

  cursor: pointer!important;
  margin-top: 10px!important;
  margin-bottom: 30px!important;
  transition: all 0.2s ease!important;
}


.green-button:hover {
  background: linear-gradient(45deg,
    #a1ff4d 0%,      /* Hellerer Ton unten links */
    #a1ff4d 49.9%,
    #8ff140 50%,     /* Dunklerer Ton oben rechts */
    #8ff140 100%);
}

.green-button:active {
  transform: translateY(2px);
  box-shadow:
    inset 0 -2px 0 rgba(0, 0, 0, 0.3),
    0 3px 0 #00000040;
}

.player-box, .settings-box, .chat-box{
  background: rgba(255, 255, 255, 0.56);
  border-radius: 50px;
  padding: 40px;
  text-align: center;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.69), 0 8px 20px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
}

.settings-box {
  max-width: 500px;
  width: 100%;
  height: 750px;
}

.player-box {
  max-width: 330px;
  width: 100%;
  margin-right: 13px;
  margin-top:100px;
  height: 650px;
}

.chat-box {
  max-width: 330px;
  width: 100%;
  margin-left: 13px;
  height: 650px;
  margin-top:100px;
}

.players-chat-title {
  font-family: 'Digitalt', Medium;
  font-size: 2.5rem;
  font-weight: 1000f;
  margin-top: -30px;
  margin-bottom: 10px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.player-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.player-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00bfff;
  border-radius: 12px;
  padding: 8px 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  box-shadow:
    inset 0 0 0 2px rgba(255, 255, 255, 0.8),
    0 4px 12px rgba(0, 0, 0, 0.2);
}

.player-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.player-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgb(0, 0, 0);
}

.player-entry-own {
  background-color: #0099ff; /* dunkleres Blau */
}


.chat-messages {
  background-color: white;
  height: 460px;
  border-radius: 18px;
  padding: 2px 8px;
  margin-bottom: 15px;
  box-shadow:
    inset 0 0 0 2px rgba(0, 0, 0, 0.1),
    0 6px 12px rgba(0, 0, 0, 0.2);

  overflow-y: hidden;   /* verhindert Scrollen */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Neue Nachrichten unten */
}

.chat-message {
  font-family: Dhyana;
  font-weight: 100;
  font-size: 0.7rem;
  letter-spacing: 0.7px;
  margin-bottom: 8px;
  word-break: break-word;
  text-align: left;
  color: rgb(0, 0, 0)
}

.chat-username {
  font-weight: bold;
  margin-right: 5px;
}

.chat-text {
  white-space: pre-wrap;
}


.chat-input-area {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-input {
  flex: 1 !important;
  height: 45px !important;
  border-radius: 12px !important;
  border: 1px solid #ccc !important;
  padding: 0 15px !important;
  font-size: 1rem !important;
}

.chat-send-button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  border: 1.5px solid black;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.lobby-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

.lobby-banner {
  background-color: #a75efa;
  color: white;
  height:40px;
  font-family: 'Digitalt', sans-serif;
  font-size: 1.9rem;
  font-weight:bold;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 1.2;
  border-radius: 999px;
  text-align: center;
  width: 100%;
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}

.close-button {
  background: #a75efa;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: -50px;
  width: 48px;
  height: 48px;
  border: 4px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.lobby-setting-group {
  margin-bottom: 20px;
  text-align: left;
}

.lobby-label {
  font-weight: 500;
  font-size: 1.9rem;
  font-family: 'Digitalt', sans-serif;
  color: #ffffff;
  display: block;
  margin-top: 25px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

input[type="range"] {
  width: 80%;
  margin-right: 10px;
}

.slider-value {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  font-weight: bold;
  color: #333;
  font-family: Arial, sans-serif;
}

.wordset-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  padding: 5px;
  font-family: monospace;
  resize: none;
  border: 1px solid #4e4e4e;
  background-color: #fff;
  font-size: 0.65rem;
}

.lobby-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.roomcode-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 12px;
  margin-right: 10px;
}

.roomcode-label {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Digitalt', sans-serif;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.6px rgb(0, 0, 0);
  margin-bottom: -13;
  margin-top: -30;
}
 
.roomcode-value {
  background-color: white;
  border: 2px solid #333;
  border-radius: 12px;
  height: 50px;
  padding: 1px 10px;
  font-size: 2.6rem;
  font-weight: 500;
  font-family: 'Digitalt', sans-serif;
  letter-spacing: 2px;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s ease;
  user-select: none;
}

.roomcode-value:hover {
  background-color: #f4f4f4;
  transform: scale(1.02);
}



.ant-form-item-required::before {
  content: \"*\";
  visibility: hidden;
}


